@model HansenProject3.Models.Customer
@{
    ViewBag.Title = "Upsert";
}

<h1 id="AllHeader">Add New Customer</h1>

<div id="formBox">
    @using (Html.BeginForm("Upsert", "Customer", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.CustomerID /*, new { @class = "form-control", placeholder = "12" }*/)
        <span>Name</span>@Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "John Smith" })
        <span>Address</span>@Html.TextBoxFor(x => x.Address, new { @class = "form-control", placeholder = "1420 North Charles Street" })
        <span>City</span>@Html.TextBoxFor(x => x.City, new { @class = "form-control", placeholder = "New York" })
        <span>State</span>@Html.TextBoxFor(x => x.State, new { @class = "form-control", placeholder = "AL" })
        <span>Zip Code</span>@Html.TextBoxFor(x => x.ZipCode, new { @class = "form-control", placeholder = "10044" })

        <input type="submit" value="Submit" class="btn btn-success" />
        <a class="btn btn-primary" href="/Customer/AllCustomers">Return to List</a>
    }
</div>